
body{
    background-color: #2D2727;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
    width: 350px;
    margin: 0 24px;
    position: relative;
    min-height: 97vh;
    background-color: #413543;
    border: 2px solid #F0EB8D;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
  }