.TodoSearch {
    background: azure;
    border-radius: 0.5em;
    border: 2px solid #8F43EE;
    margin: 0 10px;
    height: 40px;
    /* width: calc(100% - 62px); */
    font-size: 20px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    color: #413543;
    margin-bottom: 30px;
    position: relative;
  }
  
  .TodoSearch::placeholder {
    color: #8F43EE;
    font-family: 'Montserrat';
    font-weight: 400;
  }
  
  .TodoSearch:focus {
    outline-color: #8F43EE;
    box-shadow: 0px 0px 20px #F0EB8D;
  }